<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>HTML Table</h2>

<table>
  <tr>
    <th>Employee</th>
    <th>Age</th>
    <th>Boss</th>
    <th>Salary</th>
  </tr>
  <tr>
      {% for i in response %}
    <td>{{i.name}}</td>
    <td>{{i.age}}</td>
    <td>{{i.employee.name}}</td>
    <td>{{i.employee.salary}}</td>
    {% endfor %}
  </tr>
  
</table>

</body>
</html>

